:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
  border: 1px solid transparent;
  font-size: 1em;
}

.back-menu__icon {
  position: absolute;
  top: 20px;
  left: 30px;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
}